*.sqlite-wal

OfflineCache/
bookmarkbackups/
cache2/
thumbnails/
safebrowsing/
crashes/
datareporting/
minidumps/
startupCache/
gmp-gmpopenh264/
saved-telemetry-pings/
cert*.db
revocations.txt
SiteSecurityServiceState.txt
SecurityPreloadState.txt
TRRBlacklist.txt
handlers.json
shield-preference-experiments.json
pkcs*.txt
prefs.js
protections.sqlite
permissions.sqlite
favicons.sqlite
